.cardImage {
  width:  200px;
  height: 400px;
}

.teamImage {
  width:  140px;
  height: 280px;
  border: solid black 5px;
}

.healButton {
  font-size: 20px !important;
  border: solid darkgreen 2px !important;
}
