body {
  // background-image: url(https://firebasestorage.googleapis.com/v0/b/anime-showdown.appspot.com/o/characterback.jpg?alt=media&token=24eeb529-7d08-401f-b2ad-57b78801bed3);
  // background-size: 5000px;
  // background-repeat: repeat;

  .teamStats {
    font-size: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
  }

  .onTeamCharacters {
    height: 570px;
    max-width: 1000px;
    background-color: rgba(51, 50, 50, 0.432);
    border: double black 10px;
    font-size: 20px;
    
    .teamMessage {
      font-size: 50px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    }
  }
  
  .battleButton {
    font-size: 20px;
  }
}
