body {
  .loginHeader {
    font-family: 'Shojumaru', cursive;
    font-size: 100px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  Label {
    font-size: 20px;
  }

  Input {
    max-width: 500px;
  }

  .btn {
    font-size: 15px;
  }
}