body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/anime-showdown.appspot.com/o/loginBackground.jpg?alt=media&token=7645a180-8573-44f5-be49-24cb6adb7ab4);
  background-size: cover;
  background-repeat: no-repeat;

  .loginHeader {
    font-family: 'Shojumaru', cursive;
    font-size: 100px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  Label {
    font-size: 20px;
  }

  Input {
    max-width: 500px;
  }

  .btn {
    font-size: 15px;
  }
}